/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Force scrollbar */
html {
    overflow-y: scroll;
}

/* Align radios and text inputs with their label */
input[type=radio] {
    vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type=button],
input[type=submit],
button {
    cursor: pointer;
}

strong {
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
}

em {
    font-style: italic;
}

img {
    width: 100%;
    border: 0;
    vertical-align: middle;
}

sub,
sup {
    vertical-align: baseline;
    position: relative;
    font-size: 55%;
    line-height: 0;
}

sup {
    top: -0.7em;
}

sub {
    bottom: -0.25em;
}

/* 1.2. Clear Fix
			========================== */
.cf:before,
.cf:after {
    display: table;
    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}

/* for all */
body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;}

a {
    display: inline-block;
    text-decoration: none;
}

li {
    display: inline-block;
    list-style-type: none;
}

/* for wrapper */
.wrapper {
    max-width: 1360px;
    width: 82%;
    margin: 0 auto;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Added Header font sizes for h1 to h4 */
h1 {
    font-size: 2.8em;
    font-weight: 450;
    color: aliceblue;
}

h2 {
    font-size: 2.2em;
    font-weight: 500;
    text-align: center;
}

h3 {
    font-size: 1.2em;
    line-height: 2em;
    font-weight: 700;
}

/* background color for sections */
main section:nth-child(odd) {
    background-color: rgb(238, 245, 243);
}

footer section {
    background-color: rgba(99, 107, 249, 0.647);
    text-align: center;
}

/* Styling Attributes for hompage */
.homepage {
    background-image: url("/assets/images/homepage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    text-align: end;
    padding: 389px 0 325px;
}

.homepage p {
    padding: 2% 0 1.6% 35%;
    color: aliceblue;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5em;
    text-align: end;
}

 .button {
     max-width: 40%;
     padding: 1.6% 5%;
     border-radius: 30px;
     margin: 40px 0;
     background-color: rgb(34, 34, 34);
     font-size: 0.8em;
     font-weight: 500;
 }

 a {
     color: white;
     font-size: small;
 }


 /* Styling attributes for social media icons */
 .icon-img {
     width: 3.5em;
 }
 
 .social-media-icons img {
     border-radius: 50%;
     background-color: rgb(189, 116, 116);
     margin: 5%;
 }

 /* Styling attributes for footer */
 .footer{
    padding: 105px 0 55px;
}

.footer p{
    padding: 22px 0 28px;
    font-weight: 600;
    font-size: 1em;
}

/* Styling attributes for working */
.working {
    padding: 83px 0 60px;
}

.working p {
    color: black;
    font-size: 1em;
    line-height: 1.6em;
    text-align: center;
    padding: 13px 0;
    font-size: medium;
    font-weight: 500;

}

.working-img {
    width: 50%;
}

.working-list {
    max-width: 100%;
    display: flex;
    align-items: center;
}

.working-list li {
    max-width: 100%;
    border-style: solid;
    padding: 50px 0;
    border-color: black;
    border-radius: 5px;
    margin: 30px 2% 50px;
    background-color: white;
    text-align: center;
}

.working-list p {
    color: black;
    line-height: 1.5em;
    padding: 7px;
}

.working li:first-child {
    margin-left: 0;
}

.working li:last-child {
    margin-right: 0;
}